/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*larghezza standard*/
.container {
    width: 75%;
    margin: 0 auto;
}

.flex-j-center{
    display: flex;
    justify-content: center;
}

.flex-j-end{
    display: flex;
    justify-content: end;
}

.flex-j-start{
    display: flex;
    justify-content: start;
}

body {
    font-family: 'Cabin', sans-serif;;
}

header {
    background-color:rgb(255, 105, 0);
}

header .top-menu {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}

header .top-menu div {
    width: 20%;
}

header .top-menu div ul {
    list-style-type: none;
    display: flex;
}

header .top-menu div ul li {
    color: rgb(255, 255, 255);
    line-height: 2rem;
    margin-left: 0.75rem;
}

header .top-menu .Logo {
    width: 65%;
    text-align: center;
}

header .top-menu .profile > * {
    margin-left: 0.25rem;
}

header .top-menu .Logo img {
    height: 2rem;
}

header .top-menu .profile {
    width: 20%;
    line-height: 2rem;
    color: rgb(255, 255, 255);
}

.profile{
    font-size: 20px;
    padding-right: 10px;
}
/*fine header*/

main>section{
    background-color: blue;
    height: 500px;
    width: 100%;
}

.items{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.item-box{
    background-color: #098524;
}

.items .item-box{
    width: calc(100% / 3 - 2rem);
    margin: 2rem 1rem;
}

.items .item-box{
    position: relative;
    height: 450px;
}

.items .item-box .heart:hover {
    color: red;
}

.items .item-box .heart{
    background-color: white;
    position: absolute;
    height: 3rem;
    padding: 0.25rem 0;
    width: 3rem;
    font-size: 2rem;
    top: 1rem;
    right: 0;
    text-align: center;
}
