/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.flex-j-center{
    display: flex;
    justify-content: center;
}

.flex-j-end{
    display: flex;
    justify-content: end;
}

.flex-j-start{
    display: flex;
    justify-content: start;
}

body {
    font-family: 'Cabin', sans-serif;;
}

header {
    background-color:rgb(255, 105, 0);
}

header .top-menu {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}

header .top-menu div {
    width: 20%;
}

header .top-menu div ul {
    list-style-type: none;
    display: flex;
}

header .top-menu div ul li {
    color: rgb(255, 255, 255);
    line-height: 2rem;
    margin-left: 0.75rem;
}

header .top-menu .Logo {
    width: 65%;
    text-align: center;
}

header .top-menu .profile > * {
    margin-left: 0.25rem;
}

header .top-menu .Logo img {
    height: 2rem;
}

header .top-menu .profile {
    width: 20%;
    line-height: 2rem;
    color: rgb(255, 255, 255);
}

main{
    width: 85%;
}

.profile{
    font-size: 20px;
    padding-right: 10px;
}
/*fine header*/

.items{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.items .item-box{
    width: calc(100% / 3 - 2rem);
    margin: 2rem 1rem;
    position: relative;
    height: 550px;
}

/*aggiunta*/
.items .item-box .item-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    transform: translateY(80px); 
}
/*fine delle cose aggiunte*/

.items .item-box .heart:hover {
    color: red;
}

.items .item-box .heart{
    background-color: white;
    position: absolute;
    height: 3rem;
    padding: 0.25rem 0;
    width: 3rem;
    font-size: 2rem;
    top: 1rem;
    right: 0;
    text-align: center;
}

.items .item-box .sale {
    background-color: rgb(255, 0, 0);
    position: absolute;
    bottom: 4rem;
    left: 0;
    height: 1.5rem;
    width: 3rem;
    color: white;
    text-align: center;
    line-height: 1.5rem;
    font-size: 0.75rem;
}

.items .item-box .sost {
    background-color: rgb(0, 128, 0);
    position: absolute;
    bottom: 4rem;
    left: 3.5rem;
    height: 1.5rem;
    width: 6.5rem;
    color: white;
    text-align: center;
    line-height: 1.5rem;
    font-size: 0.90rem;
    font-weight: 700;
}

.items .item-box .item-info .item-name {
    text-transform: uppercase;
    font-size: 1rem;
}

.items .item-box .item-info .sale-price {
    color: red;
    font-size: 0.7rem;
}

.items .item-box .item-info .price {
    text-decoration: line-through;
    font-size: 0.7rem;
}

.items .item-1 {
    background-image: url("../img/1.webp");
    background-position: center;
    background-size: cover;
}

.item-1:hover {
    background-image: url("../img/1b.webp");
}

.items .item-2 {
    background-image: url("../img/2.webp");
    background-position: center;
    background-size: cover;
}

.item-2:hover {
    background-image: url("../img/2b.webp");
}

.items .item-3 {
    background-image: url("../img/3.webp");
    background-position: center;
    background-size: cover;
}

.item-3:hover {
    background-image: url("../img/3b.webp");
}

.items .item-4 {
    background-image: url("../img/4.webp");
    background-position: center;
    background-size: cover;
}

.item-4:hover {
    background-image: url("../img/4b.webp");
}

.items .item-5 {
    background-image: url("../img/5.webp");
    background-position: center;
    background-size: cover;
}

.item-5:hover {
    background-image: url("../img/5b.webp");
}

.items .item-6 {
    background-image: url("../img/6.webp");
    background-position: center;
    background-size: cover;
}

.item-6:hover {
    background-image: url("../img/6b.webp");
}
/*fine main*/

footer{
    background-color:rgb(26, 26, 26);
    height: 6rem;
}

.font-white{
    color: white;
}

footer .footer-left h1{
    font-size: 20px;
}

footer .footer-left p{
    font-size: 10px;
}

footer .footer-right h1{
    font-size: 14px;
}

.flex-j-between{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
}